[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=USER_NAME
WorkingDirectory=/home/USER_NAME/sites/DOMAIN
EnvironmentFile=/home/USER_NAME/sites/DOMAIN/.env

ExecStart=pipenv run \
        --bin unix:/tmp/DOMAIN.socket \
        PROJECT_NAME.wsgi:application

[Install]
WanterBy=multi-user.target
